/* Fonts */

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Space+Grotesk:wght@300..700&display=swap");

/* Variables */

:root {
  --brand-color: #e07b67;

  --dark-10: #121214;
  --dark-20: #17171a;
  --dark-30: #202024;
  --dark-40: #252529;

  --gray: #afabb6;
  --white: #ffffff;
}

/* Reset */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* General Styles */

html {
  font-size: 62.5%;
}

body {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  line-height: 1;

  background-color: var(--dark-10);
}

/* Reusable styles */

h1,
h2 {
  font-family: "Space Grotesk", sans-serif;
}

/* Header layout */

.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 4.8rem;

  padding: 6.4rem 0;

  background-color: var(--dark-20);
}

/* Header content styles */

.blog-title {
  font-size: 4rem;
  font-weight: 500;
  line-height: 1.275;
  color: var(--white);
}

.blog-title span {
  color: var(--brand-color);
}

.search-input {
  width: 100%;
  max-width: 121.6rem;

  padding: 1.6rem 2.4rem;
  border: 2px solid var(--dark-40);
  border-radius: 8px;

  color: var(--white);
  background-color: var(--dark-30);
}

.search-input::placeholder {
  font-size: 2rem;
  font-weight: 500;
  line-height: 1.2;

  color: var(--gray);
}

/* Blog container layout */

.main-content {
  max-width: 121.6rem;
  height: 96.9rem;

  display: flex;
  flex-direction: column;
  gap: 4rem;

  margin: 0 auto;
  padding: 8rem 0;
}

/* Post element layout */

.post {
  padding: 4rem;
  border-radius: 8px;

  transition: transform 0.3s ease;

  background-color: var(--dark-20);
}

.post:hover {
  transform: scale(1.05);
}

.selected-post {
  border: 2px solid var(--brand-color);
}

/* Blog container content styles */

/* Date and Heart icon box layout and styles */

.post-meta {
  display: flex;
  justify-content: space-between;
  align-items: center;

  margin-bottom: 2rem;
}

.post-date,
.post-title,
.post-text {
  font-weight: 500;
}

.post-date {
  font-size: 1.6rem;
  line-height: 1.2;

  color: var(--brand-color);
}

.post-title {
  font-size: 2.4rem;
  line-height: 1.275;

  margin-bottom: 1.6rem;

  color: var(--white);
}

.post-text {
  font-size: 2rem;
  line-height: 1.6;

  color: var(--gray);
}

/*  */

#icon {
  cursor: pointer;
}
